h1{
    color: darkolivegreen;
    background-color: bisque;
}
/*this is a comment. this selector is more specific than the h2 from htmk, and thus we will see this styling instead. */
.special-guy {
    color: black;
    background-color: greenyellow;
}