*{
    padding: 4px ;
    margin: 4px auto;
    border-radius: 7px;

}
body, html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    background-color: #CDDEFF;
    color: #291e89;
    margin: 10px auto;
    border: 1px solid lightgray;
}

.message-success{
    background-color:#CFF3DA;
    color: #418d5e;
    margin: 10px auto;
    border: 1px solid lightgray;
}

.message-warning{
    background-color: #FCFBC9;
    color: #a4943b;
    margin: 10px auto;
    border: 1px solid lightgray;
}

.message-error{
    background-color:#FAD3D7 ;
    color: #841934;
    margin: 10px auto;
    border: 1px solid lightgray;
}