
#main-heading{
    text-align: center;
}

h1{
    color:wheat;
    text-decoration: underline;
}
h2{
    color: wheat;
    text-decoration: underline;
    text-indent: 2em;
}
 h3{
    color:wheat ;
    text-decoration: underline;
}

body{
    background-color: antiquewhite;
    background-image: url("../img/coffee.png");
    font-family: "Marker Felt";
    text-indent: 2em;
    background-attachment: fixed;
    color: antiquewhite;
}

ol {
    list-style: upper-roman;
}
ul{
    list-style: circle;
}

table{
    font-size: large;
}
table td{
    font-size: inherit;

}
table tr{
    font-size: inherit;
    color: antiquewhite;
}

a:link{
    color: cadetblue;
}

a:visited{
    color: honeydew;
}

a:hover{
    background-color: darkmagenta;
}

a:active{
    color: black;
}
