.fancy-header {
    color: mediumpurple; /* single line comment */
    text-decoration: underline;
}

#main-heading{
    color: #855A04;
    text-decoration: underline cornflowerblue;
    text-align: center;
    font-family: "American Typewriter";
}